APP_NAME="Inertia Tickets"
APP_ENV=local
APP_URL=http://localhost:8000
APP_DEBUG=true

DB_CONNECTION=postgres
DB_HOST=127.0.0.1
DB_PORT=5432
DB_DATABASE=database_app_test
DB_USERNAME=app
DB_PASSWORD=secret

AWS_ENDPOINT=http://localhost:9000
AWS_ACCESS_KEY_ID=minioadmin
AWS_SECRET_ACCESS_KEY=minioadmin
AWS_BUCKET=pingcrm
AWS_DEFAULT_REGION=us-east-1
AWS_URL=http://localhost:9000/uploads
